*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: rgb(255,255,255);
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    padding: 1em;
    background-color: rgb(0,0,0);
    background-image: url("man_repair.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5em;
    border-radius:0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0,0,0,0.8);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}

label {
    display: block;
    margin: .5em 0;
    width: 100%;
}

form p {
    text-align: left;
    margin: .5em 0;
}

input[type="submit"] {
    margin: .5em 0;
}

input[type="text"], input[type="submit"], input[type="email"], input[type="number"], select, textarea {
    display: block;
    width: 100%;
}

input[type="text"], input[type="submit"], input[type="email"], input[type="number"], select{
    padding: .3em;
    border-radius: 5px;
    border: none;
}

input[type="text"], input[type="email"], input[type="number"], select{
    color: rgb(100,100,100);
    margin-top: .5em;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    margin-right: .5em;
}

input[type="submit"]{
    background-color: rgb(255,0,255);
    font-weight: 600;
    margin-top: 1em;
}

input[type="submit"]:hover {
    box-shadow: 0 0 4px 1px rgb(95, 9, 9);
    cursor: pointer;
}

textarea {
    min-height: 100px;
    border-radius: 5px;
    padding: .5em;
}

input:active {
    border: 1px solid skyblue;
}

#title {
    font-size: 36px;
    font-weight: 500;
    font-family: 'Play', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px 10px 0 0;
    color: rgb(0,255,255);
}

#description{
    padding: .5em 2em;
    background-color: rgba(0, 0, 0, 0.8);
}

option {
    color: black;
}

.distinct {
    color: rgb(255,0,255);
}